@theme {
  --animate-accordion-up: accordion-up 0.3s ease-out;
  --animate-accordion-down: accordion-down 0.3s ease-out;

  @keyframes accordion-down {
    0% {
      height: 0px;
    }
    100% {
      height: var(--radix-collapsible-content-height);
    }
  }

  @keyframes accordion-up {
    0% {
      height: var(--radix-collapsible-content-height);
    }
    100% {
      height: 0px;
    }
  }
}
